h1.title{
    font-size: 75px;
}
h1{
    font-size:100px;
}
h2.subtitle{
    font-size: 25px;
}
img{
    width: 500px;
    height: 500px;
}
.form-size{
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
.form-title{
    font-size: 50px;
}
.about-text{
    font-size:25px;
}
#sign-up-form{
    display: inline-block;
    width: 600px;
    vertical-align: top;
    padding: 50px;
    margin:0 auto;
}
#log-in-form{
    display: inline-block;
    width:600px;
    vertical-align: top;
    padding: 50px;
    margin: 0 auto;
}
img.page{
    width:500px;
    height:500px;
}
div.page{
    display:inline-block;
    vertical-align: top;
    padding:25px;
}
label{
    text-align: left;
}
.name{
    font-size: 80px;
    vertical-align: top;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.address{
    font-size: 20px;
    vertical-align: top;
}
.description{
    font-size: 25px;
    vertical-align: top;
}
strong{
    color: blue;
}
h1.favs{
    font-size: 75px;
}
h2.list{
    font-size: 25px;
}