h1.title{
    font-size: 75px;
}
h2.subtitle{
    font-size: 25px;
}
img{
    width: 500px;
    height: 500px;
}
.form-size{
    width: 500px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.form-title{
    font-size: 50px;
}
.about-text{
    font-size:25px;
}